html {
    border: none;
    border-radius: 10px;
    width: 272px;
}

body {
    background-color: white;
    text-align: center;
    font-family: system-ui, sans-serif;
    font-size: small;
    width: 236px;
    height: 150px;
    padding: 10px;
}

button {
    border: 1px solid;
    border-color: #e0e0e0;
    border-radius: 4px;
    height: 32px;
    width: auto;
    color: #4285f4;
    background-color: white;
    text-align: center;
    font-weight: 500;
    font-family: system-ui, sans-serif;
    margin: 1em;
}

button:focus-visible {
    outline: none;
}

button:hover {
    border-color: #bbdefb;
    background-color: rgba(33, 150, 243, 0.04);
    cursor: pointer;
}

button:active {
    border: 2px solid;
}

div#error-msg {
    color: red;
}